<template>
    <div class="app">
        <Navbar></Navbar>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "Container",
    components: {
        Navbar: () => import('./Navbar')
    }
}
</script>

<style scoped>

</style>
